%ul.nav.panel-tabs
  %li.bor.w75
    = active_link_to admin_surveys_path, :active=>:exclusive do
      %span.icon-list-numbered
      Surveys / Overview
  %li.pull-right.createtab
    = active_link_to new_admin_survey_path, :active=>:exclusive do
      %span.icon-plus>
      Create survey