- if !question.new_record?
  .panel.panel-default
    .panel-heading
      %h2.panel-title
        %a{ data: { parent: '#accordion', toggle: 'collapse'}, href: '#collapseTwo' } Answers
    #collapseTwo.panel-collapse.collapse
      .panel-body
        .row
          .col-sm-12
            .mb20
              = link_to new_account_survey_question_answer_path(survey, question), class: 'btn btn-primary', data: { target: '#modal', toggle: 'modal' } do
                %i.icon.icon-plus
                Add new answer

        .row
          .col-sm-12
            .matrix.table-responsive{ id: "question#{question.id}_answers" }
              = render "account/answers/list", survey: survey, question: question
            %span.clearfix