- if question.answers.count > 0
  - question.rows.times do |n|
    .row
      - question.send("answers_#{n}").each do |answer|
        .col-sm-3
          %label
            - if question.question_type == 2
              = check_box_tag "answers[]", answer.id, false
            - else
              = radio_button_tag "answers[]", answer.id
            = answer.text

- else
  .help.text-danger
    There is no answers yet