= render 'account/surveys/tabs'

.panel-body
  .tab-content
    #tab1.tab-pane.active
      .row.mb20
        .col-xs-12
          %h1
            %small Edit Question
            = @question.text
      .row
        .col-xs-12
          = render 'form'