= render 'account/surveys/tabs'

#tab1.tab-pane
  %p.text-right
    = link_to 'Add New Question', new_account_survey_question_path(@survey), class: 'btn btn-primary'
  .row
    .col-xs-12.table-responsive
      %table.table.table-striped.table-condensed.table-hover#list-table
        %thead
          %tr
            %th
              %i.icon.icon-tag
              Text
            %th
              %i.icon.icon-list-numbered
              Answers
            %th
              %i.icon.icon-tags
              Type
            %th
              %i.icon.icon-list
              Position
            %th.actions
              %i.icon.icon-cog-alt
              Actions
        %tbody
          = render @questions

%div.modal.fade{id: "modal", :role => "dialog"}
  .modal-dialog
    .modal-content