-#- content_for :heading do
  = @survey.title
= render 'tabs'

.panel-body
  .tab-content
    #tab2.tab-pane.active
      .row
        .col-xs-12.mb20
          %h1
            %small Edit Survey
            = @survey.title
      .row
        .col-xs-12
          = render 'form'