.panel-heading
  = render 'navigations'

.panel-body
  .tab-pane.active
    .row.intro
      .col-xs-12
        %h1 New Survey
        %p.lead Here you can fill in the title and description of your survey. Also, the languages in which the survey should be available, can be selected.
    = render 'form'