.panel-heading
  = render 'navigations'

.panel-body
  .tab-pane.active
    .row.intro
      .col-xs-12
        %h1 New Survey
        %p.lead Fill in the title & description you wish to appear in your survey below.
    = render 'form'