%table.row.header{ :style => 'background-color: #ebebeb;' }
  %tbody
    %tr
      %td.center{ :align => 'center' }
        %center
          %table.container
            %tbody
              %tr
                %td.wrapper.last
                  %table.twelve.columns
                    %tbody
                      %tr
                        %td.six.sub-columns
                          = image_tag "logo.png", :size => '200x50', :alt => 'opinion7'
                        %td.six.sub-columns.last{ :style => 'text-align:right; vertical-align:middle;' }
                          %h6{ :style => 'text-align: right; color: #858585;' }
                            /Published video-page
                        %td.expander