%table.row.footer
  %tbody
    %tr
      %td.wrapper
        %table.six.columns
          %tbody
            %tr
              %td.left-text-pad
                %h5 Imprint
                %p
                  Company: BONOFA AG
                  %br
                  Is represented by: Detlef Tilgenkamp & Thomas Kulla
                  %br
                  Mailing adress: info@bonofa.com
                  %br
                  Telephone no: 00 42 / 230 / 3210
                  %br
                  Fax no: 00 42 / 230 / 3211
                  %br
                  Reg no: FL-0002.383.447-5 Public register office of Liechtenstein
                  %br
                  VAT identification number: 57 954 [LIECHTENSTEIN]
                  %br
                  Date of founding: 05.10.2011
              %td.expander
      %td.wrapper.last
        %table.six.columns
          %tbody
            %tr
              %td.left-text-pad
                %h5= "&nbsp;".html_safe
                %p
                  Our products are created by:
                %p
                  Company: 7devs.it Ltd.
                  %br
                  Owner: Martin Boehm
                  %br
                  Mailing adress: PO 62480
                  %br
                  Telephone no: +442070603774
                  %br
                  Fax no: +44207627862
                  %br
                  Reg no: 08094396
                  %br
                  Date of founding: 06.06.2012
              %td.expander