%meta{ charset: 'utf-8' }
%meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' }
%meta{ name: 'description', content: '' }
%meta{ name: 'author', content: '' }
%meta{ name: 'google-translate-customization', content: 'cb8f67dde3effee1-c73dd17e8134b5fd-g264ca8779569b5c0-10' }

%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-57x57-precomposed.png',   sizes: '57x57' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-72x72-precomposed.png',   sizes: '72x72' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-76x76-precomposed.png',   sizes: '76x76' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-114x114-precomposed.png', sizes: '114x114' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-120x120-precomposed.png', sizes: '120x120' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-144x144-precomposed.png', sizes: '144x144' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-152x152-precomposed.png', sizes: '152x152' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-180x180-precomposed.png', sizes: '180x180' }
%link{ rel: 'apple-touch-icon-precomposed', href: '/assets/apple-touch-icon-precomposed.png' }