= render 'layouts/header_admin'
#page.container.nopadding
  .row
    .col-md-12
      .panel
        %h2 Privacy Policy
        %h3 Company: BONOFA AG
        %p Is represented by: Detlef Tilgenkamp & Thomas Kulla
        %p Im Loch 11 
        %p FL 9494 Schaan
        %p Liechtenstein 
        %br
        %p
          %table
            %tr
              %td{style: 'width: 180px;'} Email:
              %td= mail_to 'info@bonofa.com'
            %tr
              %td Telephone:
              %td 0042 230 3210
            %tr
              %td Fax:
              %td 0042 230 3211
            %tr
              %td Reg no:
              %td FL-0002.383.447-5 Public register office of Liechtenstein
            %tr
              %td VAT identification no:
              %td 57 954 [LIECHTENSTEIN]
            %tr
              %td Found date:
              %td 05.10.2011

        %br
        .shortline
        %h3
          Our products are created by:
        %p
          %table
            %tr
              %td{style: 'width: 150px;'} Company:
              %td 7devs.it Ltd.
            %tr
              %td Owner:
              %td Martin Boehm
            %tr
              %td Mailing address:
              %td PO 62480
            %tr
              %td Country:
              %td England
            %tr
              %td Telephone:
              %td +44 2070603774
            %tr
              %td Fax:
              %td +44 207627862
            %tr
              %td Reg no:
              %td 08094396
            %tr
              %td Found date
              %td 06.06.2012
