= render 'layouts/header_admin'
#page.container.termsofuse.nopadding
  .row
    .col-md-12
      .panel
        %h2 Terms and Conditions of Use of Opinion7
        %p
          %strong 1. Scope of validity
        %p
          1.1 The Terms and Conditions below govern the use of all data, text, software and other materials (“Products”) made available to the person utilizing same
          (“User”) by the vendor. By making use of the products users declare that they agree with the Terms and Conditions of Use that follow. Same serve as the
          basis for the contractual relations involved.
        %p
          1.2 The vendor reserves the right to update these Terms and Conditions of Use from time to time at their discretion. If such updating involves no major
          changes then same will be publicized on the vendor’s web site. Checking that web site regularly to keep up to date is recommended. If changes are grave
          then the vendor will advise users in good time thereof with the date/s same come/s into effect on their web site or by e-mail. In such cases users have the
          right to contradict such change/s and to serve notice of termination of contract on the date any such change/s come/s into effect. If a user does not
          contradict as aforesaid within 14 days of their being advised of such change/s then they are considered to have agreed thereto. The vendor will point this
          out to users in advance.
        %p
          %strong 2. Subject Matter of the Contract and UTILIZATION
        %p
          2.1 Opinion7 is a software program for creating, evaluating and carrying out opinion polls and offers relevant tools ranging from evaluation to participant
          administration.
        %p
          2.2 Please refer to the product overview on the aforementioned web site for information on the scope of use and currently valid version prices. The product
          is available free of charge unless otherwise stated. If a charge is made for it this will be pointed out at an appropriate place.
        %p
          2.3 No right to utilize the service or enter into a subscription exists. The vendor reserves the right to exclude users breaching these Terms and
          Conditions temporarily or, in the event of repeated such breaches, permanently from the use of this service. No right to claim recompense for consideration
          rendered exists in such case.
        %p
          2.4 Users receive a non-exclusive, non-transferable license not entitling them to grant sub-licenses to utilize the product in the scope of the version
          booked. Utilization going above and beyond that scope is subject to prior written agreement from the vendor.
        %p
          %strong 3. CONTENT
        %p
          3.1 Users are responsible for the content used by them.
        %p
          3.2 Users have the option of integrating their own files (e.g. photos, text, etc.) or referring to files by e.g. links, among other choices. No content
          breaching the law or offending common decency may be made use of. This includes racist, violent, extremist, sexist, pornographic and discriminatory
          content. Content displaying violence or atrocities and/or that is demeaning, threatening, insulting or otherwise disparaging of other people, ethnic groups
          or religions etc. is banned.
        %p
          3.3 Users may not utilize content that breaches criminal law. The rights of third parties (especially copyright, brand and personal rights) must be
          observed. This particularly applies to using text, illustrations or videos of third party origin. Users herewith indemnify the vendor against any and all
          third party rights to assert any claim in this regard. This includes relieving them of all legal costs. Only content may be used that users have the
          relevant right/s in or that they are legally permitted to use. This particularly applies to uploading, processing, storing and transmitting (copying) the
          file/s concerned.
        %p
          3.4 The vendor reserves the right where they justifiably suspect misuse or illegal use to exclude data from storage and to delete same if appropriate.
        %p
          %strong 4. Advertising / Sending E-mails
        %p
          4.1 If users contact third parties or send them an invitation via their own program/s or any function/s of the vendor’s product/s by e-mail, thus
          advertises themselves or the product/s or undertakes comparable actions then they herewith promise that they had prior express permission to send the
          information involved from the recipient of same before making use of the function/s concerned. IMPORTANT NOTE The vendor considers protection of user data
          and that of third parties extremely important. Users therefore undertake to ascertain that recipients have a genuine and not merely an assumed interest in
          such invitation / delivery. Some people view their being sent information without having requested it irritating. Note that it is not tolerated in law. The
          vendor therefore wishes to avoid bothering third parties in any way under any circumstances and reserves the right to demand recompense in cases in which a
          recipient does not agree with being sent any invitation by mail.
        %p
          4.2 The foregoing applies
          = succeed "to" do
            %em mutatis mutandis
          onforwarding and splitting content regardless of medium or platform.
        %p
          4.3 Invitations may not be sent, and in particular not repeatedly sent, to anyone who objects to receiving same.
        %p
          %strong 5. Terms and Conditions of Payment, Duration and Termination
        %p
          5.1 Current Terms and Conditions of Payment apply to all products for which any charge is made.
        %p
          5.2 Subscriptions are automatically extended when a subscription term expires by the same term but by one year at most if the user does not serve notice of
          termination thereof within 14 days of such expiry. Notice of termination must be in writing or in text form to be valid.
        %p
          %strong 6. Data protection
        %p
          6.1 Users input their personal and/or business data on the Internet site voluntarily. Utilizing the vendor’s product/s anonymously is permissible if
          technically feasible and reasonable.
        %p
          6.2 Personal data make it possible to identify or determine a person. This includes e.g. first and last names, address and telephone number. Data not
          permitting same such as the number of users or a web site or time data are not personal data.
        %p
          6.3 The vendor will use personal data for technical administration and client administration in the essential scope only. Personal data will otherwise only
          be stored if voluntarily given. It will not be passed to any third party unless that is essential to contract performance (e.g. invoicing) or prescribed by
          law (e.g. transmission to tax or police authorities).
        %p
          6.4 The vendor would be happy to advise any user of the personal data held concerning them on written request. Users are requested to please send their
          queries direct to the office responsible as stated in the imprint details.
        %p
          6.5 Deletion of stored personal data is carried out if a user revokes their consent to its storage, if the knowledge thereof is no longer required in order
          to fulfill the purpose of the storage or if the storage is inadmissible for any statutory reason.
        %p
          %strong 7. Availability and liability
        %p
          7.1 The vendor will make every effort to ensure a high degree of availability of their product/s but cannot guarantee it/they will always be available. The
          vendor will advise in advance of down times, e.g. for maintenance.
        %p
          7.2 Product use is on a
          = succeed "basis" do
            %em caveat emptor
          in accordance with the current scope of utilization at the time the utilization relationship began.
        %p
          7.3 The vendor can only accept liability for damage deliberately or grossly negligently caused by them, their legal representatives or vicarious agents.
          The limitation of liability does not apply in the event of injury to life, limb and health of a person or breach of a cardinal duty. In the latter event
          the liability of the vendor and their vicarious agents is limited to the damage typical and foreseeable in such cases. This limitation of liability applies
          to all forms of liability. It does not affect the right to assert claim/s in law.
        %p
          7.4 The vendor cannot accept any liability whatsoever for the availability of the service/s or for loss of data. This limitation of liability also applies
          to damage consequential to utilizing our product/s.
        %p
          %strong 8. FINAL PROVISIONS
        %p
          8.1 The law of the state in which the vendor has their registered head office address applies to any and all dispute/s concerning this contractual or
          utilization relationship. Place of judicature hereof is the location of said head office registered address or that of the user at th vendor’s discretion
          as the law allows.
        %p
          8.2 Should any provision herein be or become null and void either in whole or in part for any reason whatsoever this will not affect the remainder. Any
          such provision will be replaced with one that is legally effective and best meets the interests of the parties hereto.
        %p
          V02310714