%div.alert.alert-danger
  %p
    %strong
      Sorry, we couldn't accept your submission.


  - @survey_log.errors.full_messages.each do |message|
    %p
      = message

  %p
    = link_to "Go back and try again", :back

