@import 'bootstrap';

@import 'flags16';
@import 'flags32';

@import 'colors';
@import 'session';
@import 'header';
@import 'footer';
@import 'page';
@import 'profile';
@import 'style';
@import 'mobile';

.nav-tabs{
  .current{
    a{
      
    }
  }
}

.flag{
  padding-left: 35px;
  height: 30px;
  display: block;
}