@import 'bootstrap';

@import 'flags16';
@import 'flags32';

@import 'base';
@import 'colors';
@import 'system';
@import 'mobile';

.nav-tabs{

  .current{
    a{

    }
  }
}

.flag{
  padding-left: 35px;
  height: 30px;
  display: block;
}
.admin_answers li {
  padding: 5px;
  border: 1px solid $grey1;
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }
}

body{
  margin-top: 20px;
  background: none;
}