$bodybg: #252b33;
$light: #ffffff;
$dark: #000000;
$grey1: #eeeeee;
$grey2: #cccccc;
$grey3: #888888;
$grey4: #666666;
$grey5: #444444;
$grey6: #222222;
$primary: #252b33;
$secondary: #fc0442;
$tertiary: #636d7a;
$primarybg: #252b33;
$secondarybg: #fc0442;
$tertiarybg: #636d7a;