//$primary: #0095D5;
//$secondary: #71C5E8;
//$primarybg: #0095D5;
//$secondarybg: #71C5E8;

$primary: #007ab5;
$primarylight: #0093cf;
$secondary: #0769a1;
$secondarylight: #00a8e2;
$primarybg: $primary;
$secondarybg: $secondary;
$text: #333333;
$light: #ffffff;
$dark: #000000;
$grey1: #eeeeee;
$grey2: #cccccc;
$grey3: #888888;
$grey4: #666666;
$grey5: #444444;
$grey6: #222222;