#profile {
  padding: 0;
  display: none;
  background: $light;

  > div {
    padding: 15px;
  }

  .welcome {

    h1 {
      margin: 0 0 0.5em;
      padding: 0 0 0.5em;
      color: $primary;

      .small {
        color: #aaaaaa;
        padding-top: 10px;
      }
    }
  }

  .profileimg {
    position: relative;

    a {

      &:link,
      &:visited {
        position: absolute;
        left: 10%;
        bottom: 2%;
        background: $primarybg;
        color: $light;
        padding: .2em;
        display: block;
        font-size: 1.3em;
        font-weight: 200;
        text-align: center;
        @include border-radius(1em);
        overflow: hidden;
        width: 1.8em;
        height: 33px;
        @include transition(width 200ms ease);
      }

      .text {
        display: inline-block;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 1em;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        text-transform: uppercase;
        width: 0;
        height: 0;
        @include transition(all 250ms ease);
      }

      &:hover,
      &:active,
      &:focus {
        width: 80%;

        .text {
          width: auto;
          height: 1em;
        }
      }
    }
  }

  .actions {
    margin: 1.7em 0 0;

    a {
      padding: .7em 0 .3em;
      display: block;
      color: $light;
      font-size: 2em;
      font-weight: 200;
      @include transition(padding-left 400ms ease);

      i {
        margin-right: .1em;
        font-size: 1.1em;
      }

      &:hover,
      &:active,
      &:focus {
        padding-left: .2em;
      }
    }
  }
}