@mixin border-radius($borderradius) {
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -o-border-radius: $borderradius;
  border-radius: $borderradius;
}
#profile {

  table {

    tr {
      &:hover {
        background-color: rgba($light, .2);
      }
    }
  }
}




/* Plans */
#plans {

  ul {
    list-style: none;
    overflow: hidden;
    position: relative;

    &.coming-soon {

      &:before {
        content: 'Coming soon...';
        padding-top: 200px;
        font-size: 2.5em;
        font-weight: 300;
        position: absolute;
        left: 15px;
        top: 0;
        right: 15px;
        bottom: 0;
        background-color: rgba($primarybg, .7);
        z-index: 1;
        color: $light;
        text-align: center;
      }
    }

    li {
      padding: 15px;
      border: 1px solid darken($light, 2);

      &.plan-head {
        padding: 0;
        @include border-radius(5px 5px 0 0);
        overflow: hidden;
        text-align: center;

        h3 {
          background-color: $primary;
          color: $light;
          margin: 0;
          padding: 15px;
          font-size: 2.3em;
        }
      }
      &.plan-image {
        margin: 0;
        padding: 30px;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }
        .price {
          font-size: 3.5em;

          &.price-month {
            font-size: 1.1em;
            display: block;

            .price-small {
              font-size: 1em;
            }
          }

          .price-small {
            font-size: .5em;
            color: $grey3;
          }
        }
      }
      &.yes,
      &.no {
        border-bottom: 1px solid darken($grey1, 5);
        background-color: lighten($grey1, 5);
        position: relative;
        padding-right: 55px;
        word-break: break-word;
        font-weight: 400;
        @include transition(al 300ms);

        &:hover {
          &:hover {
            background-color: lighten($grey1, 4);
          }
        }
      }
      &.yes {

        &:after {
          content: '';
          background: asset-url('checker.png') -2px 0px no-repeat;
          position: absolute;
          right: 10px;
          top: 12px;
          width: 30px;
          height: 30px;
        }
      }
      &.no {

        &:after {
          content: '';
          background: asset-url('checker.png') -2px -72px no-repeat;
          position: absolute;
          right: 10px;
          top: 12px;
          width: 30px;
          height: 30px;
        }
      }
      &.upgrade {
        background-color: $grey6;
        color: $light;
        text-align: center;
        font-size: 1.2em;
        font-weight: 600;
        @include border-radius(0 0 5px 5px);
      }
      &.buy {
        background-color: $primarybg;
        text-align: center;
        padding: 0;
        overflow: hidden;
        @include border-radius(0 0 5px 5px);

        &.free {

          a {
            width: 100%;
          }
        }

        a {
          color: $light;
          font-weight: 500;
          font-size: 1.2em;
          display: block;
          padding: 15px;
          border-bottom: 1px solid $grey5;
          width: 50%;
          @include transition(all 300ms);

          &:hover {
            background-color: $secondarybg;
          }
        }
      }
    }
  }
}