#sign-in {
  background: asset-url("bg_loginrow.png") no-repeat right bottom rgba($light, 0.95);
  @include box-shadow(0 5px 5px 0 rgba($dark, 0.25));
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;

  .signin-content {
    margin-top: 0;
    margin-bottom: 0;

    fieldset {
      border: none;
      display: block;
      padding: 25px 14px;
      position: relative;

      section {

        h2 {
          font-family: "roboto condensed";
          margin-top: 0;
          margin-bottom: 10px;
          font-weight: 300;
        }
      }
    }
  }
  header {
    background: lighten($grey1, 5);
    border-bottom: 1px solid rgba($dark, 0.1);
    color: $grey6;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 15px 13px;
  }
  .baio-login {
    border-bottom: 1px solid $grey1;
    border-top: 1px solid $grey1;
    text-align: center;

    a {
      display: block;
      padding: 10px;
      @include transition(all 300ms ease);
      color: $grey3;

      .baio-logo {
        background: asset-url('/assets/baiologo.png', 'image') no-repeat left -28px transparent;
        width: 46px;
        display: inline-block;
        height: 23px;
        vertical-align: -3px;
      }
      &:hover {
        text-decoration: none;
        color: $secondary;
      }
    }
  }
}
.logindummy {
  position: fixed;
  top: 20px;
  right: 20px;
}
form#new_account {
  margin-top: 20px;
}