#showsurvey {

  img {
    max-width: 100%;
  }

  h2.showhl {
    font-size: 3em;
  }

  .question {

    h3 {

      img {
        float: right;
        max-width: 100px;
      }
    }
    border-bottom: 1px solid $grey1;
    margin: 30px 0;
    padding-bottom: 30px;
  }

  .answers {

    .answer {

      img {
        max-width: 100%;
      }
    }
  }
}