//Webfonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700italic,700);

/*--Mixins--*/
@mixin box-shadow($boxshadow) {
  -moz-box-shadow: $boxshadow;
  -webkit-box-shadow: $boxshadow;
  -o-box-shadow: $boxshadow;
  box-shadow: $boxshadow;
}
@mixin text-shadow($textshadow) {
  -moz-text-shadow: $textshadow;
  -webkit-text-shadow: $textshadow;
  -o-text-shadow: $textshadow;
  text-shadow: $textshadow;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin border-radius($borderradius) {
  -moz-border-radius: $borderradius;
  -webkit-border-radius: $borderradius;
  -o-border-radius: $borderradius;
  border-radius: $borderradius;
}

/*--Styles--*/
body {
  background: asset-url('bgimage.jpg') center center no-repeat fixed;
  background-size: cover;
  color: $grey5;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.5em;
}
.nopadding {
  padding: 0!important;
}
.nomargin {
  margin: 0!important;
}
.well {
  background: lighten($grey1, 10);
  border: 1px solid $grey1;
  @include box-shadow(0 1px 1px $grey3);
  position: relative;
}
.lead {
  line-height: 1.2em;
}