#showsurvey {

}
#new_survey {

  .languages {
    display: inline-block;
    width: 100%;
    clear:both;

    .checkbox {
      @include transition(all 300ms ease);
      padding: 5px;


      &:hover {
        background-color: rgba($dark, .03);
      }
    }
  }
}
.locales-tabs {
  border-bottom: none!important;
}
.bread-crumb {

  a {
    color: $grey3!important;
  }
}

.row {
  .answer_block {
    min-height: 350px;
  }
}


.languages .checkbox input[type=checkbox] {
  display:none;
}

.languages .checkbox input[type=checkbox] + span
{
  vertical-align: text-bottom;
  padding-top: 5px;

}
.languages .checkbox input[type=checkbox]:checked + span
{
  @include transition(all 300ms ease);
  font-weight: bold;
  font-style: italic;
  color:$light;
  padding-right:10px;
  border-radius: 5px;
  background-color: $primary;

}
.newrow{
  margin: 10px 0px 10px 0px;
  padding: 5px 0 5px 0;
  border-bottom: 1px dotted $grey2 ;
  }

.customcheckbox:hover {
  background-color: #3ea7d9 ;
  color:$light ;
  i {
    color:$light!important;
  }
  img {
    outline: 0;
  }
}
.customcheckbox {

  margin: 5px;
  cursor: pointer;
  padding: 10px;
  border:1px dotted $grey1;
  border-radius: 5px;
  -moz-border-radius: 5px ;
  -webkit-border-radius: 5px;


//  border-bottom: 1px solid $grey1;
  img {
    clear: both;
    display: block;
    max-height: 150px;
    padding: 5px;
    margin: 5px;
    outline: 1px $grey1 solid;
  }

  label {
    cursor: pointer ;
    font-weight: normal ;
    input[type=checkbox] {
      display:none;
    }

    input[type=checkbox] + i  {
      color:$grey2;

    }

    input[type=checkbox]:checked + i {
      @extend .icon-tags;
      color:#0769a1;
    }


    input[type=radio] {
      display:none;
    }

    input[type=radio] + i {
      width: 10px;
      height: 10px;
      display: inline-block;
      border:1px solid #0769a1;
      color:$grey2;
      padding: 5px;
      margin-right: 5px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
//      box-shadow: 0px 0px 0px 2pt $primary;

    }

    input[type=radio]:checked + i {
      background-color: #0769a1;
      color:#076fa1 ;
      border-color: #444444;
    }


  }



}

.menu {
  padding: 20px;
}
//
//.panel {
//  .checkbox label {
//    padding-left: 0px;
//  }
//}


#accordion{
  .panel-heading{



    a{
      display: block;
      width: 100%;
      padding: 10px;

    }
  }
}


