#showsurvey {

}
#new_survey {

  .languages {

    .checkbox {
      @include transition(all 300ms ease);
      padding: 5px;

      &:hover {
        background-color: rgba($dark, .03);
      }
    }
  }
}
.locales-tabs {
  border-bottom: none!important;
}
.bread-crumb {

  a {
    color: $grey3!important;
  }
}

.row {
  .answer_block {
    min-height: 350px;
  }
}


.languages .checkbox input[type=checkbox] {
  display:none;
}

.languages .checkbox input[type=checkbox] + span
{
  vertical-align: text-bottom;
}
.languages .checkbox input[type=checkbox]:checked + span
{
  font-weight: bold;
  font-style: italic;
  color:$primarybg;

}


//
//.panel {
//  .checkbox label {
//    padding-left: 0px;
//  }
//}


