.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Opinion7
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Surveys", admin_surveys_path

      %p.navbar-text.navbar-right
        = link_to "Sign out", destroy_account_session_path, :method => 'delete'
      %p.navbar-text.navbar-right
        Signed in as
        %a{:href => '#' }
          = current_account.email
